* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    background-color: aliceblue;
}

.maincontainer {

    height: 80%;
    margin-top: 210px;
    display: grid;
    grid-template-columns: repeat(3, 600px);
    padding-left: 200px;
    padding-right: 100px;
    gap: 10px;
    

}

@media only screen and (max-width:768px) {
    .maincontainer {
        display: grid;
        grid-template-columns: repeat(1, 400px);
        justify-content: center;
        margin: 0;
        padding: 0;
        padding-top: 100px;
    }
}

.inner {
    /* border: 2px solid black; */
    background-color: white;
}

.ellie {
    height: 200px;
    width: 600px;
    border-radius: 100px;

}
.ellieImage {
    width: 10px;
    height: 10px;

    .elliePic {
        border-radius: 120px;
        width: 220px;
        height: 200px;

    }
}


.ellieContext {
    margin-left: 150px;
    padding-left: 100px;
    margin-top: 10px;

    h3 {
        font-size: 25px;
        color: gray;
    }

    h1 {
        font-size: 20px;
        color: gray;
        margin-top: 4px;
        margin-bottom: 10px;
    }

    p {
        color: grey;
    }
}

.king {
    background-color: white;
    display: flex;
    height: 200px;
    width: 600px;
    border-radius: 100px;
    /* margin-top: 190px; */
}

.king_profile {
    display: flex;
    flex-direction: row;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding: 0;
    margin: 0;
    gap: 20px;

}

.kingContext {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.kingContext p {
    margin: 5px 0;
}

._name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
}

._role {
    font-size: 20px;
    color: #504d4d;
}

._bio {
    font-size: 18px;
    color: #504d4d;
}

.king_socials {
    border-radius: 100px;
    display: flex;
    width: 300px;
    gap: 20px;
}

.king_socials img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.charlene {
    border: 2px solid black;
    height: 200px;
    width: 600px;
    border-radius: 100px;
    /* margin-top: 190px; */
}

.emmy {
    height: 200px;
    width: 600px;
    border-radius: 100px;
    /* margin-bottom: 190px; */
}

.fatai {
    /* border: 2px solid black; */
    height: 200px;
    width: 600px;
    border-radius: 100px;

}

.unknown {
    border: 2px solid black;
    height: 200px;
    width: 600px;
    border-radius: 100px;
}

img {
    border-radius: 100px;
}

.buttontw {
    width: 50px;
}

.fataiContext {
    margin-left: 150px;
    padding-left: 100px;
    margin-top: 10px;

    h3 {
        font-size: 25px;
        
    }

    h1 {
        font-size: 20px;
        color: gray;
        margin-top: 3px;
        margin-bottom: 10px;
    }

    p {
        color: grey;
    }
}

.fataiImage {
    width: 10px;
    height: 10px;

    .fataipic {
        border-radius: 120px;
        width: 220px;
        height: 200px;

    }
}

footer {
    background-color: #feb47b;
    display: grid;
    grid-template-columns: 1fr;


}



.emmyImage {
    width: 10px;
    height: 10px;

    .emmypic {
        border-radius: 120px;
        width: 220px;
        height: 200px;

    }
}

.emmyContext {
    margin-left: 150px;
    padding-left: 100px;
    margin-top: 10px;

    h3 {
        font-size: 25px;
    }

    h1 {
        font-size: 20px;
        color: gray;
        margin-top: 3px;
        margin-bottom: 10px;
    }

    p {
        color: grey;
    }
}


.footer {
    margin-left: 237px;

    .ft {
        width: 25px;
        padding-left: 50px;
        margin-left: 10px;
        margin-top: 20px;
        padding-left: 5px;
        padding-right: 10px;
    }
}